certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
idna==3.10
numpy==2.3.2
pycparser==2.22
requests==2.32.5
scipy==1.16.1
sounddevice==0.5.2
SpeechRecognition==3.14.3
typing_extensions==4.15.0
urllib3==2.5.0